.rp-about-me img {
	overflow: hidden;
	width: 100%;
	height: 500px;
	transform: scale(1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.rp-about-me .wp-block-cover {
	overflow: hidden;
}

.rp-about-me .wp-block-cover:hover img {
	    transform: scale(1.2);
}