/********* Menu Animation flipInY **********/

nav ul li:hover > ul {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}